services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: payment-system-api
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    volumes:
      - ./api:/app
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_started

  event-worker:
    build:
      context: ./event-worker
      dockerfile: Dockerfile
    container_name: event-worker
    ports:
      - "3001:3001"
    env_file:
      - ./event-worker/.env
    volumes:
      - ./event-worker:/app
      - /app/node_modules
    networks:
      - app-network
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  rabbitmq_data:
  mongo_data:

networks:
  app-network:
    driver: bridge
